In [2]:
# lOAD ALL libraries
import re
import json
from emoji import demojize
import string
import pandas as pd
from string import punctuation
from nltk.corpus import stopwords
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
from nltk import SnowballStemmer
import string
import nltk
from nltk.stem import WordNetLemmatizer
from collections import Counter

In [38]:
# set the filename path for the english twitter data
filename = '/data/TwitterData201903/2019March.json'

In [39]:
df= pd.read_json(filename,lines = True)
df.shape

(16722370, 3)

In [40]:
df = df.dropna()
df.shape

(16722370, 3)

In [41]:
df = df.drop_duplicates()

In [42]:
df.head

<bound method NDFrame.head of                            id                created_at  \
0         1101383822000000128 2019-03-01 07:29:00+00:00
1         1101383822000000128 2019-03-01 07:29:00+00:00
2         1101383822000000128 2019-03-01 07:29:00+00:00
3         1101383822000000128 2019-03-01 07:29:00+00:00
4         1101383822999999872 2019-03-01 07:29:00+00:00
...                       ...                       ...
16722365  1112584367000000000 2019-04-01 05:15:58+00:00
16722366  1112584367000000000 2019-04-01 05:15:58+00:00
16722367  1112584367000000000 2019-04-01 05:15:58+00:00
16722368  1112584371999999872 2019-04-01 05:15:59+00:00
16722369  1112584371999999872 2019-04-01 05:15:59+00:00

                                                       text
0         RT @witnessjudas: the tea is that thank u, nex...
1         RT @rosy22600250: #TNTrustsModi\nEvery Indian ...
2                                  @thecripprint Nah shawty
3         Australian Siblings Are Semi-Identical Twins, ...
4                @ZiggyZagz I love them both so m u c h omg
...                                                     ...
16722365  RT @cheryl__updates: NEW: @LiamPayne posted on...
16722366  RT @Kevin302Larkin: No such thing https://t.co...
16722367           @xuaoba amazing  https://t.co/e6iDMfCtx3
16722368  rule #2: donâ€™t catch feelings for them when th...
16722369  RT @ShionChiNeko1: Just today I saw the new of...

[16722370 rows x 3 columns]>

In [43]:
from nltk.stem import WordNetLemmatizer
lmt = WordNetLemmatizer()
stemmer = SnowballStemmer("english")
def preprocess(tweet):
    
    # remove links
    tweet = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", tweet)
    # remove mentions
    tweet = re.sub("@\w+","",tweet)
    # alphanumeric and hashtags
    tweet = re.sub("[^a-zA-Z#]"," ",tweet)
    # remove multiple spaces
    tweet = re.sub("\s+"," ",tweet)
    tweet = tweet.lower()
    # Lemmatize
    #lemmatizer = WordNetLemmatizer()
    #sent = ' '.join([lemmatizer.lemmatize(w) for w in tweet.split() if len(lemmatizer.lemmatize(w))>3])
    sent = " ".join(w for w in tweet.split() if len(w)>2 )
    return sent

In [44]:
df['text'] = df['text'].map(lambda x:preprocess(x))

In [63]:
import pandas
df_keywords = pd.read_excel('/data/TwitterDataAnalysisWorkCode/Hedonometer_keywords/Hedonometer_wordlist-labMT-en-v2.xlsx', index_col=None, header=[0], dtype={'Word': str, 'Word in English': string})

TypeError: Cannot interpret '<module 'string' from '/home/jzhu10/anaconda3/lib/python3.8/string.py'>' as a data type

In [46]:
df_keywords.head

<bound method NDFrame.head of         Rank             Word  Word in English  Happiness Score  \
0          0         laughter         laughter             8.50
1          1        happiness        happiness             8.44
2          2             love             love             8.42
3          3            happy            happy             8.30
4          4          laughed          laughed             8.26
...      ...              ...              ...              ...
10182  10182      quarantined      quarantined             2.14
10183  10183        sanitizer        sanitizer             5.14
10184  10184  self-quarantine  self-quarantine             3.14
10185  10185       ventilator       ventilator             2.98
10186  10186      ventilators      ventilators             3.26

       Standard Deviation of Ratings
0                               0.93
1                               0.97
2                               1.11
3                               0.99
4                               1.16
...                              ...
10182                           1.01
10183                           1.55
10184                           1.80
10185                           1.70
10186                           1.97

[10187 rows x 5 columns]>

In [61]:
 df_keywords["Word in English"].to_string

<bound method Series.to_string of 0               laughter
1              happiness
2                   love
3                  happy
4                laughed
              ...
10182        quarantined
10183          sanitizer
10184    self-quarantine
10185         ventilator
10186        ventilators
Name: Word in English, Length: 10187, dtype: object>

pandas.core.series.Series

In [51]:
H_keywords

0               laughter
1              happiness
2                   love
3                  happy
4                laughed
              ...
10182        quarantined
10183          sanitizer
10184    self-quarantine
10185         ventilator
10186        ventilators
Name: Word in English, Length: 10187, dtype: object

In [48]:
testing = df.text
full_tweets = []
for t in testing:
    full_tweets.append(t)

In [49]:
#define search term fuction. df_text_tweet is the tweet pandas text. search_term is the key words to identify the tweets. 
def Term_tweets(text_tweets, search_term):
    #term_tweets = []
    term_fre = 0
    for t in text_tweets:
        if search_term in t.lower():
            #term_tweets.append(t)
            term_fre += 1 
    #return term_tweets
    return term_fre

In [53]:
data_hedono = []
for keyword in H_keywords:
    data_hedono.append((keyword, Term_tweets(full_tweets, H_keywords)))

TypeError: 'in <string>' requires string as left operand, not Series

In [ ]:
df_Hedono = pd.DataFrame(data=data_hedono)

In [ ]:
df_Hedono.head

<bound method NDFrame.head of             0      1
0       smoke  26083
1        dope  11078
2        weed  15005
3        lean  81067
4       crack  25411
..        ...    ...
149     doral    199
150     blems    626
151    ciggie     30
152      pour   8746
153  hennessy    638

[154 rows x 2 columns]>

In [ ]:
df_Hedono.to_excel("/data/TwitterDataAnalysisWorkCode/Hedonometer_keywords/hedono_fre_2019MarchClean.xlsx")

NameError: name 'happy_keywords' is not defined

In [10]:
df_h = pd.DataFrame(data=data_h)

In [11]:
df_h.to_excel("/data/TwitterData201904/201904Week4/happy100_fre_201904week4.xlsx")

In [12]:
#Count depression words in Depression_words
data_D = []
for keyword in Depression_keywords:
    data_D.append((keyword, Term_tweets(full_tweets, keyword)))

In [ ]:
df_D = pd.DataFrame(data=data_D)

In [ ]:
df_D.to_excel("/data/TwitterData201904/201904Week4/depression122_fre_201904week4.xlsx")