In [2]:
from pandas import DataFrame
import json
import pandas as pd
import glob
import os

In [46]:
# df1 =pd.read_csv('test_result/chatgpt/*.csv',lineterminator='\n',skipinitialspace=True,) 
# use glob to get all the csv files 
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join('test_result/chatgpt/neg/', "*.csv"))

In [47]:
  
# loop over the list of csv files
vertical_concat = pd.DataFrame()
for f in csv_files:
      
    # read the csv file
    df = pd.read_csv(f)
      
    # print the location and filename
#     print('Location:', f)
    print('File Name:', f.split("\\")[-1])
      
    # print the content
#     print('Content:')
#     display(df)
    df.drop(df.columns[[0]], axis=1, inplace=True)
    vertical_concat = pd.concat([vertical_concat, df], axis=0)
#     print()
    
display(vertical_concat)

File Name: test_result/chatgpt/neg/2023_02_02-04_39PMopenai_neg_1.csv
File Name: test_result/chatgpt/neg/2023_02_02-04_32PMopenai_neg.csv
File Name: test_result/chatgpt/neg/2023_02_02-05_03PMopenai_neg_3.csv
File Name: test_result/chatgpt/neg/2023_02_02-04_45PMopenai_neg_2.csv
File Name: test_result/chatgpt/neg/2023_02_02-04_56PMopenai_neg_4.csv

       id                                              Tweet label
0     248                                            "Humor"    No
1     249  "#Humor Silver Back, Silver Back. Soon that Go...    No
2     250                     "Cocaine Bear will save us all   Yes
3     251  "Logan McCarroll draws another five meter, som...    No
4     253  " Yeah I imagine that. I found a sample that w...    No
..    ...                                                ...   ...
195  1176  "If ur excited about the E Forest lineup ur li...    No
196  1177  " Iâ€™m giving mine steroids and teaching him mm...    No
197  1178  "Still my favorite Cocaine Willie. h/t to for ...   No.
198  1180  "I wanna try shrooms at least once in my life....    No
199  1181  "We knew this alreadyâ€¦ youâ€™d be surprised who ...    No

[1000 rows x 3 columns]

In [36]:
yes = vertical_concat.loc[ (vertical_concat['label'] =="Yes") | (vertical_concat['label'] =="Yes.")] 
yes['Tweet'].to_csv('test_result/chatgpt/' + 'all_pos.csv')
yes

In [48]:
neg = vertical_concat.loc[ (vertical_concat['label'] !="Yes") & (vertical_concat['label'] !="Yes.")] 
neg['Tweet'].to_csv('test_result/chatgpt/' + 'all_neg.csv')
neg

       id                                              Tweet label
0     248                                            "Humor"    No
1     249  "#Humor Silver Back, Silver Back. Soon that Go...    No
3     251  "Logan McCarroll draws another five meter, som...    No
4     253  " Yeah I imagine that. I found a sample that w...    No
5     254  "Canâ€™t wait to see my music stats for 2023, wh...    No
..    ...                                                ...   ...
195  1176  "If ur excited about the E Forest lineup ur li...    No
196  1177  " Iâ€™m giving mine steroids and teaching him mm...    No
197  1178  "Still my favorite Cocaine Willie. h/t to for ...   No.
198  1180  "I wanna try shrooms at least once in my life....    No
199  1181  "We knew this alreadyâ€¦ youâ€™d be surprised who ...    No

[663 rows x 3 columns]

In [59]:

df =pd.read_csv('test_result/chatgpt/temp/all_pos.csv',lineterminator='\n', skipinitialspace=True,)
df

,Unnamed: 0,id,Tweet,label
0,0,2,anyways. im starting my diet on Sunday. i was ...,No
1,1,3,Alcohol and drugs is good for the mind but not...,Yes
2,2,11,Sooo ig my dad wouldn't think I'd smell weed i...,No
3,3,35,Anyone have any trouble with drunk eating? Bec...,"No, this tweet is not related to drug abuse."
4,4,42,"I have wine, Captain Morgan, Angry Orchard, an...",No
...,...,...,...,...
451,451,4459,"Ima buy a rig when I get home ï£¿Ã¼Ã²Ã¨,",No
452,452,4460,If you too drunk to drive call me or text me 3...,No
453,453,4462,This cab driver asking us for bud and telling ...,Yes
454,454,4465,Aw man they busting out the nose candy &amp; f...,Yes
455,455,4467,crackhead on my street tried to sell me a kid'...,Yes

In [60]:
yes = df.loc[ (df['label'] =="Yes") | (df['label'] =="Yes.")] 
# yes['Tweet'].to_csv('test_result/chatgpt/' + 'all_pos.csv')
yes.shape

(153, 4)

In [57]:
yes

    Unnamed: 0    id                                              Tweet label
1            1     3  Alcohol and drugs is good for the mind but not...   Yes
2            2    11  Sooo ig my dad wouldn't think I'd smell weed i...   Yes
5            5    48  I need to stop smoking ðŸ˜­ðŸ’€ I swear I seen my ma...   Yes
8            8   118  I hate smoking and then going to sleep right a...   Yes
17          17   210  Yesterday I smoked some of the best weed of my...   Yes
20          20   236             Weed man who deliver, Linwood area hmu   Yes
24          24   267                            Need my morning blunt ðŸ˜­   Yes
25          25   331                                        I miss weed   Yes
27          27   374                                      I'm drunk fam   Yes
29          29   386         _d ðŸ’€ðŸ’€ðŸ’€ðŸ’€ I'm smoking a blunt and crying brb   Yes
32          32   414                              That blunt kicking in   Yes
39          39   496                      had to smoke a jay real quick   Yes
40          40   541              my whole campus smells like weed 24/7   Yes
43          43   578                           So much weed lastnight ðŸ˜©   Yes
47          47   637  Say she wanna roll with me n smoke up all my w...   Yes
49          49   648  Been rolling this same blunt since opening my ...   Yes
53          53   691  we fucked up but I'm out here in the garage sm...   Yes
65          65   793                     I'm too loaded like maneeee ..   Yes
81          81  1093  Got my refund check once I get home and alread...   Yes
82          82  1103       I just want to smoke a j w all of my mutuals   Yes
84          84  1115                   I need a blunt or 2 or 3 maybe 6   Yes
89          89  1215               Just smoked some crack I'm dumb high   Yes
96          96  1297                     Need a fat blunt and a fat nap   Yes
99          99  1315  I can't wait till pills go out of business the...   Yes

In [58]:
no = df.loc[ (df['label'] !="Yes") & (df['label'] !="Yes.")] 
no

,Unnamed: 0,id,Tweet,label
0,0,2,anyways. im starting my diet on Sunday. i was ...,No
3,3,35,Anyone have any trouble with drunk eating? Bec...,"No, this tweet is not related to drug abuse."
4,4,42,"I have wine, Captain Morgan, Angry Orchard, an...",No
6,6,62,Drinking a Sir Orangelot by at â€”,No
7,7,75,Smoke sesh by myself l8er (:,No
...,...,...,...,...
93,93,1258,Someone come smoke and go for a fall walk with me,No
94,94,1262,It's lit !! We so deep,No
95,95,1265,I'm about to eat Taco Bell while in a bath wit...,No
97,97,1301,the other night my daughter fb chatted with Sh...,"No, this tweet is not related to drug abuse."
98,98,1314,donut and some fireball to wash it down,No.